@page "/about"
@attribute [StreamRendering]
@inject IJSRuntime JSRuntime


<PageTitle>About Me</PageTitle>
<section id="mainAbout">
        <div >
            <div class="about-section">
                <h1 class="title-about">Hizrawan Dwi Oka</h1>

                <p class="description-about">
                    I'm a recently graduated computer science student. Before continuing my master's studies, I had experience working as a software engineer for about three years, Mostly using C#.
                </p>
            </div>
          
            </div>
    <div style="position: absolute; bottom: 8rem; left: 50%;">
        <a href="#skills" target="_top">
            <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
        </a>
    </div>
</section>



    


