@if (UserPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section id="mainblog">

        <div id="blog-section">
            <div id="testblog">
                @for (int i = 0; i < UserPosts.Count && i < 5; i++)
                {
                    <a href="@UserPosts[i].Url" target="_blank" class="post-card-link">
                        <div class="post-card">
                            <h4>@UserPosts[i].Title</h4>
                            <p>@UserPosts[i].Description</p>
                        </div>
                    </a>
                }
                <a href="https://github.com/Hizrawan" class="post-card-link">
                    <div class="post-card">
                        <h4>Show More</h4>
                        <p>View all posts</p>
                    </div>
                </a>
            </div>
        </div>


        <div style="position: absolute; bottom: 2rem; left: 50%;">
            <a href="#mainwork" target="_top">
                <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
            </a>
        </div>
        <h1>Blogs</h1>
    </section>



}

@code {
    [Parameter]
    public List<Post> UserPosts { get; set; }

    // Other code for the Projects component

    public class Post
    {
        public string Url { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
        // Add other properties as needed to match the JSON structure
    }
}
