

<section id="edu-section">
    <div>

        <div id="main" style="margin-top:0px; background-color:antiquewhite;">
            <div class="edu-section">
                <h2 class="education-h1">National Chin-Yi University of Technology</h2>

                <p>Master Degree - Computer Science</p>
            </div>
        </div>
        <div id="main" style="background-color:cadetblue;">
            <div class="edu-section">
                <h2 class="education-h1">Bina Nusantara University</h2>

                <p>Bachelor Degree - Computer Science</p>
            </div>
        </div>
        <div id="main">
            <div class="edu-section">
                <h2 class="education-h1">Politeknik Negeri Bandung</h2>

                <p>Diploma Degree - Computer Science</p>
            </div>
        </div>
    </div>

</section>


