

<section id="edu-section">
    <div id="test">

        <div id="test">
            <div class="edu-section" style="background-color:#d4cfb1;">
                <h3 class="education-h1">National Chin-Yi University of Technology</h3>

                <p>Master Degree - Computer Science</p>
            </div>
            <div class="edu-section" style="background-color:cadetblue;">
                <h3 class="education-h1">Bina Nusantara University</h3>

                <p>Bachelor Degree - Computer Science</p>
            </div>
            <div class="edu-section" style="background-color:#4E567E;">
                <h3 class="education-h1">Politeknik Negeri Bandung</h3>

                <p>Diploma Degree - Computer Science</p>
            </div>
        </div>
    </div>

</section>


