
<section id="mainproject">
    <h1>Projects</h1>
    <div class="project-section">

        <a href="https://github.com/Hizrawan/PortfolioOkaBlazor" target="_blank" class="post-card-link">
            <div class="post-card">
                <h4>Portfolio Website</h4>
                <p style="  -webkit-line-clamp: 2 -webkit-box-orient: vertical; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;width: 100%;">A website for showcasing my skills, achievements. Build Using .Net Core 8, and Blazor.</p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;width: 100%;">https://github.com/Hizrawan/PortfolioOkaBlazor</p>
            </div>
        </a>
        <a href="https://github.com/Hizrawan/PortfolioOkaBlazor" target="_blank" class="post-card-link">
            <div class="post-card">
                <h4>Portfolio Website</h4>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;width: 100%;">A website for showcasing my skills, achievements. Build Using .Net Core 8, and Blazor.</p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;width: 100%;">https://github.com/Hizrawan/PortfolioOkaBlazor</p>
            </div>
        </a>
        <a href="https://github.com/Hizrawan/PortfolioOkaBlazor" target="_blank" class="post-card-link">
            <div class="post-card">
                <h4>Portfolio Website</h4>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;width: 100%;">A website for showcasing my skills, achievements. Build Using .Net Core 8, and Blazor.</p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;width: 100%;">https://github.com/Hizrawan/PortfolioOkaBlazor</p>
            </div>
        </a>
        <a href="https://github.com/Hizrawan" class="post-card-link">
            <div class="post-card">
                <h4>Show More</h4>
                <p>View all posts</p>
            </div>
        </a>
    </div>


    <div style="position: absolute; bottom: 1rem; left: 50%;">
        <a href="#mainblog" target="_top">
            <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
        </a>
    </div>
</section>



@code {
    [Parameter]
    public List<Post> UserPosts { get; set; }

    // Other code for the Projects component

    public class Post
    {
        public string name { get; set; }
        public string html_url { get; set; }
        public string description { get; set; }
        // Add other properties as needed to match the JSON structure
    }
}
