<section id="mainskills">
    <div id="skills" class="skills-section">
        <h2 class="title-skills">Skills</h2>
        <ul class="skills-list">
            <li><strong>C#</strong> - Experienced in .NET development, including ASP.NET Core and Entity Framework.</li>
            <li><strong>Front-end</strong> - Proficient in HTML, CSS, JavaScript, and Blazor.</li>
            <li><strong>Back-end</strong> - Knowledgeable in databases, and API development.</li>
            <li><strong>Project Management</strong> - Familiar with Agile methodologies and version control systems like Git.</li>
            <li><strong>Game Development</strong> - Currently developing game using Godot Engine</li>
            <!-- Add more skills as needed -->
        </ul>
    </div>
</section>


