

<section id="mainwork">
    <div id="work-section">

        <div id="testwork">
            <div class="work-section" style="background-color:#7E4E4E;">
                <h2> Xiangshun Information Co., Ltd</h2>
                <br />
                <strong>Software Engineer</strong>
                <br />
                <ul class="skills-list">
                    <li>
                        Using .Net core, Blazor, and MSSQL
                    </li>
                    <li>
                        Translate documents from chinese to english
                    </li>
                </ul>
            </div>
            <div class="work-section" style="background-color:#4E567E;">
                <h2>Multimedia Security Laboratory - NCUT</h2>
                <br />
                <strong>Research Assistant</strong>
                <br />
                <ul class="skills-list">
                    <li>
                        Design data hiding scheme for image steganography
                    </li>
                    <li>
                        Translate the design into a Matlab program
                    </li>
                    <li>
                        Analyze the result and create the report
                    </li>
                </ul>
            </div>
            <div class="work-section" style="background-color:#d4cfb1;">
                <h2>Fujitsu Indonesia</h2>
                <br />
                <strong>Functional Developer / Fulstack Engineer</strong>
                <br />
                <ul class="skills-list">
                    <li>
                        Modify ERD according to the Subject Matter Expert's request
                    </li>
                    <li>
                        Create function and stored procedure in PostgreSQL
                    </li>
                    <li>
                        Create front-end function using Telerik’s KendoUI framework
                    </li>
                    <li>
                        Create back-end function using .Net core
                    </li>
                </ul>
            </div>
            <div class="work-section" style="background-color:cadetblue;">
                <h2>PT. Lapi Divusi</h2>
                <br />
                <strong>Programmer Internship</strong>
                <br />
                <ul class="skills-list">
                    <li>
                        Develop mobile attendance recording system using react native for IOS and Android
                    </li>
                    <li>
                        Learn about how to work in industry
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div style="position: absolute; bottom: 1rem; left: 50%;">
        <a href="#mainproject" target="_top">
            <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
        </a>
    </div>
</section>


