
<div>
    <h1>Work Experience</h1>
    <h2> Xiangshun Information Co., Ltd</h2>

    <p>Software Engineer</p>
    <h2>Multimedia Security Laboratory - NCUT</h2>

    <p>Research Assistant</p>
    <h2>Fujitsu Indonesia</h2>

    <p>Functional Developer / Fulstack Engineer</p>
    <h2>PT. Lapi Divusi</h2>

    <p>Programmer Internship</p>
</div>
<div>
    <h1>Organization Experience</h1>
    <h2>
        Himpunan Mahasiswa Komputer- Politeknik Negeri Bandung
    </h2>


    <p>Anggota Departement Luar Himpunan</p>
    <h2> Paduan Suara Mahasiswa - Politeknik Negeri Bandung</h2>

    <p>Anggota Tim Lomba 2016</p>
</div>





<section id="edu-section">
    <div>

        <div id="main" style="margin-top:0px; background-color:antiquewhite;">
            <div class="edu-section">
                <h2 class="education-h1">National Chin-Yi University of Technology</h2>

                <p>Master Degree - Computer Science</p>
            </div>
        </div>
        <div id="main" style="background-color:cadetblue;">
            <div class="edu-section">
                <h2 class="education-h1">Bina Nusantara University</h2>

                <p>Bachelor Degree - Computer Science</p>
            </div>
        </div>
        <div id="main">
            <div class="edu-section">
                <h2 class="education-h1">Politeknik Negeri Bandung</h2>

                <p>Diploma Degree - Computer Science</p>
            </div>
        </div>
    </div>

</section>


